.ticket-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 8px 16px; /* Reduce the gap between cards */
  padding: 16px;
  flex-basis: 300px;  /* This ensures the card takes up more horizontal space */
  max-width: 350px;   /* Optional: Set max width for cards */
  width: 100%;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.ticket-id {
  font-weight: bold;
  font-size: 16px;
}

.assignee-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.ticket-title {
  font-size: 18px; /* Reduced font size */
  margin: 0;
  color: #333;
  font-weight: 500;
}

.status-section img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.priority-section {
  margin-top: 10px;  /* Ensuring space below the title */
}

.priority-icon {
  width: 24px;
  height: 24px;
}

/* .ticket-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
} */

.ticket-type {
  font-size: 14px;
  color: #888;
}
